body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.logo {
  position: absolute; 
  top: 1px; 
  right: 10px;
}
.homecolor {
  background: linear-gradient(to bottom, #3262f3 0%, #245b5f 100%);
  text-align: center;
}
.hwcolor {
  background: linear-gradient(to bottom, #6137f7 0%, #8f4fd8 75%);
  text-align: center;
}
.inversehwcolor {
  background: linear-gradient(to bottom, #ff0000 0%, #0033cc 100%);
  text-align: center;
}
.projectcolor {
    background: linear-gradient(to bottom, #174d8bbd 0%, #58a0f1 100%);
    text-align: center;
}
.inverseprojectcolor {
  background: linear-gradient(to bottom, #ff9933 0%, #0033cc 100%);
  text-align: center;
}
#subject_hw, #subject_project, #Project, #Homework{    
	border-radius: 50px 50px 50px 50px;
    border: 2px solid #E5E7E9;
    padding: 20px; 
    width: 200px;
    text-align: center;
}

#txtFormatUrl{    
	border-radius: 25px 25px 25px 25px;
    padding: 10px; 
    width: 175px;
    height: 1px;
    text-align: center;
}

.dpn{
  border-radius: 25px 25px 25px 25px;

}

.submitButton {
    background-color:#c3c3c4de;
	  border-radius: 50px 50px 50px 50px;
    padding: 20px;
    width: 100;
    text-align: center;
  }

#canvas{
    border: 2px solid black;
    
}
.calcButton {
  left: 45%;
}
.functionalButton {
    margin-top: 300px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid #E5E7E9;
    color: rgb(79, 82, 82);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    background-color: rgb(143, 141, 140);

  }

  .calctitle {
    position:absolute; 
    left: 90%;
  }

    input[type="button"]
    {
    background-color:rgb(143, 141, 140);
    color: black;
    border: solid black 2px;
    width:100%
    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:100%
    }

    
.editor
    {
  border:solid 1px #ccc;
  padding: 20px;
  min-height:200px;
    }

    .sample-toolbar
    {
  border:solid 1px #ddd;
  background:#f4f4f4;
  padding: 5px;
  border-radius:3px;
    }

    .sample-toolbar > span
    {
  cursor:pointer;
}

    .sample-toolbar > span:hover
    {
  text-decoration:underline;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}

/*Homework Pages*/
#outervid_div {
  width: auto;
  height: auto;
  background: purple;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  
}
/* #vid_div {
  width: 75%;
  height: 75%;
  background: #2185C5;
  margin: auto;
  width: 50%;
  border: 3px solid white;
  padding: 10px;
  
} */

.vid {
  border-radius: 25px, 25px, 25px, 25px;
  background-color: whitesmoke;
  display: flex;
  width: 300px;
  height: auto;
  margin: 17px;
  text-align: center;
}

