body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

#subject_hw, #subject_project{    
	border-radius: 50px 50px 50px 50px;
    border: 2px solid #E5E7E9;
    padding: 20px; 
    width: 200px;
    text-align: center;
}

.submitButton {
    background-color:#c3c3c4de;
	  border-radius: 50px 50px 50px 50px;
    padding: 20px;
    width: 100;
    text-align: center;
  }

#canvas{
    border: 2px solid black;
    
}

.calcButton {
  left: 45%;
}
.functionalButton{
    margin-top: 300px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid #E5E7E9;
    color: rgb(79, 82, 82);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    background-color: rgb(143, 141, 140);

  }

  .title{
    margin-bottom: 10px;
    text-align:center;
    width: 210px;
    color:green;
    border: solid black 2px;
    }

    input[type="button"]
    {
    background-color:rgb(143, 141, 140);
    color: black;
    border: solid black 2px;
    width:100%
    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:100%
    }
